/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styling */
body {
    background: url('WideshotMonique.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Date and Time Styling */
.date-time-container {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 150px; /* Increased font size */
    font-weight: bold; /* Optional: Make it bold */
    color: #cf0000;
}


/* Login Container */
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

/* Button Styling */
button {
    background-color: #ffcba4;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fd7f1e;
}

/* Error Message */
p {
    font-size: 14px;
    margin-bottom: 20px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
}
