/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;  
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    margin-top: 10px; 
}

/* Main Content Styling */
.main-content {
    margin: 0 auto; /* Center the content horizontally */
margin-left: 80px;
    max-width: 90%; /* Optional: Set a maximum width to prevent it from becoming too wide */
}



h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
}



/* Table styles */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table td,
.table th {
    border-bottom: 1px solid #e0e0e0;
}


.table th,
.table td {
    padding: 15px;
    text-align: center;
}


.table tbody tr:hover {
    background-color: #f1f1f1; /* Subtle hover effect */
    cursor: pointer;
}

/* Button styles */
.btn-action {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-action {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}


.btn-action:hover {
    background-color: #0056b3;
}

/* Message Styling */
.message {
    padding: 15px;
    background-color: #e9f7e9;
    border: 1px solid #d4edda;
    border-radius: 5px;
    color: #155724;
    margin-bottom: 20px;
}

/* Input Field Styles */
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #007bff;
    outline: none; /* Removes default browser outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a subtle shadow */
}

/* Form Styles */
form {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between input fields and buttons */
    margin: 0; /* Ensures no extra margin around forms */
}

/* Submit Button Styles */
input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional Styling for Select Elements */
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
