/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    background-color: #ffffff;  
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 0 auto;
    margin-top: 10px; 
}

/* Main Content Styling */
.main-content {
    margin: 0 auto; /* Center the content horizontally */
    margin-left: 80px;
    max-width: 90%; /* Optional: Set a maximum width to prevent it from becoming too wide */
}
 /* General styles */
.container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="month"],
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group input[readonly] {
    background-color: #f1f1f1;
}

.submit-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #007bff;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="datetime-local"],
    .form-group select {
        width: calc(100% - 10px);
    }
}