body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: #ffffff;  
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-top: 20px; 
}

.main-content {
    margin: 0 auto;
    margin-left: 50px;
     width: 90%;
}