body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px; /* Adjust padding as needed */
}

/* Calendar styles */
.calendar {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure calendar contents do not overflow */
}

.month {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #007BFF; /* Adjust background color */
  color: #fff; /* Adjust text color */
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  background-color: #f0f0f0; /* Change to desired background color */
  font-weight: bold;
  padding: 10px 0;
}

.day {
  text-align: center;
  padding: 10px;
}


.hidden {
  display: none;
}

#selectedDate {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

/* Adjusted CSS for calendar days */
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px; /* Increase gap between cells */
  padding: 20px;
}

.date {
  text-align: right; /* Align text to the right */
  padding: 15px; /* Adjust padding as desired */
  border: 1px solid #ccc;
  border-radius: 8px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 1.2em;
  height: 100px; /* Adjust height as needed */
  line-height: 60px;
}

.date:hover {
  background-color: #007BFF; /* Change to desired hover color */
  color: #fff; /* Change to desired text color */
}

.date.empty {
  visibility: hidden;
}

.month-navigation {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
  align-items: center;
  background-color: #007BFF; /* Change to desired background color */
  padding: 10px;
  color: #fff; /* Change to desired text color */
}

.month-navigation button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  margin: 0 15px; 
  transition: color 0.3s, transform 0.3s;
}

.month-navigation button:hover {
  color: #fff; /* Change to desired hover color */
  transform: scale(1.2); /* Slightly increase size on hover */
}