/*Header Section*/
.logo {
    background-color: #019ba0;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 45px;
    width: 100%;
    margin-right: 5px; /* Space between the logo and the Home button */
    font-family: 'Lucida Calligraphy';
    z-index: 100;
    opacity: 0;

}
header { 
    width: 100%;
    height: 75px;
    background-color: #ffdab9;
    position: fixed;
    top: 0; 
    z-index: 1000; 
}

nav {
    width: 100%;
    max-width: 1200px; /* Set your desired max-width */
    margin: 0 auto; 
    overflow: hidden;
    margin-left: 120vh;
    top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 27px 30px;
    text-decoration: none;
}

a:hover {
    background-color: #ffcba4;
}

/*Header Section*/


@media (max-width: 768px) {
    .logo {
        padding: 5px;
        margin-top: 20px;
        font-size: 1.2em;
        margin-right: 0;
    }

    .logoo img {
        width: 100px; /* Adjust the width of the logo for mobile */
    }

    header {
        height: 60px;
    }

    nav {
        margin-left: 0;
        margin-top: 70px;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        float: none;
        width: 100%;
    }

    a {
        padding: 15px 10px;
        font-size: 1em;
    }
}