/* Ameneties Highlights */
/* Style for the sections */
.amenities1{
    margin-top: 10px;
    color: #3f3f3f;
    padding: 20px;
    border-radius: 2px;
    overflow: visible;
    position: relative;
}
/* Style for the section headings */
section h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
   
}
/* Style for the list items */
section ul {
    height: 25vh;
    list-style: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

section ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 2.0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 10px;
    position: relative;
    z-index: 1;  
    
}

section ul li:hover {
    color: #000000;
    background-color: #ffdab9;
    transform: scale(1.25);
    z-index: 999;
    justify-content: center;
}

/* Style for the images */
section ul li img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    transition: transform 0.3s ease, z-index 0s ease;
}
section ul li .text {
    margin-left: 10px;
}