/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 10; /* Lower z-index to keep overlay below popup */
}

/* Popup form container styles */
.popup {
    position: fixed;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1100; /* Higher than sidebar */
    display: none; /* Initially hidden */
}

.popup.active {
    display: block; /* Show popup when active */
}
.popup h3 {
    text-align: center;
}

.popup form {
    margin-top: 20px;
}

.popup .form-group {
    margin-bottom: 15px;
}

.popup label {
    display: block;
    margin-bottom: 5px;
}

.popup input[type="text"],
.popup input[type="email"],
.popup select {
    width: calc(100% - 20px); /* Adjusted width for input fields */
    padding: 8px; /* Adjusted padding for input fields */
    box-sizing: border-box;
}

.popup button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 103; /* Ensure exit button appears above popup */
}

.exit-button:hover {
    color: red;
}
