body {
    background-color: #726060;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

   body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
   }
   header {
    background-color: #9c5a5a;
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    z-index: 2; 
}

nav {
    background-color: #471717;
    color: #ffffff;
    text-align: center; 
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; 
    z-index: 1; 
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li:last-child {
    margin-bottom: 0;
}

nav a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center; 
}


main {
    padding: 20px;
    display: flex;
    background-color: #726060;
    justify-content: space-around;
    color: #070707;
    width: calc(90% - 100px); 
    height: 750px;
    margin-left: 237px; 
}

   section {
    margin-bottom: 30px;
    margin-right: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

   section img {
    max-width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    width: 900px;
   }
   article h2 {
    text-align: justify;
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
   }
   article p {
    color: #ffffff;
    position: absolute;
    text-align: justify;
    font-weight: bold;
    bottom: 20px;
    left: 20px;
    right: 20px;
   }
   footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2; 
}
