body {
    font-family: "Times New Roman", Times, serif;
    background-color: #fafafa;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4f97df; 
    padding: 20px; 
    text-align: center; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 20px; 
    font-family: "Times New Roman", Times, serif;
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
}

#painting {
    width: 50%;
    background-color: #000000; 
    padding: 20px; 
}

section {
    background-color: rgb(185, 185, 185);
    text-align: justify;
    padding: 20px;
    font-size: 24px; 
    font-weight: bold; 
}

figure, video {
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

figcaption {
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    margin-left: 24.5%;
}
#highlight {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: #ff0000; 
}

footer {
    text-align: center;
    padding: 20px;
}

main {
    background-color: #4f97df; 
    padding: 10px; 
    text-align: center; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 20px; 
    font-family: "Times New Roman", Times, serif;
    font-size: 24px; 
    font-weight: bold; 
    color: #000000; 
}


.cutted-images {
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.image-grid img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    align-items: center;
    border: none; 
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    figure, video {
        width: 80%;
    }

    figcaption, footer {
        margin-left: 0;
    }
}
